@font-face {
    font-family: "PtSansNarrowBold";
    src: url("fonts/ptsansnarrowbold.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    margin: 0;
    padding: 0;

    font-family: "PtSansNarrowBold", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    color: #ffffff;

    background-color: #000000;
    background-image: url(content/background-cite.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------------------INDEX------------------------*/
/*************************HEADER*************************/
header {
    width: auto;
    background-color: #000000;
}
.main-navigation {
    display: flex;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 20px;
}
.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    width: auto;
    flex-wrap: wrap;
    list-style: none;
}
.site-navigation-item a {
    color: #ffffff;
}
.header-login {
    margin: 0;
    padding: 0;

    width: 107px;
    margin-left: auto;
    position: relative;
    list-style: none;
}
.header-login-item a::before {
    content: "";
    width: 16px;
    height: 18px;
    position: absolute;
    background-image: url(images/login.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 26px;
    left: 25px;
}
.header-login-item a:hover::before {
    content: "";
    width: 16px;
    height: 18px;
    position: absolute;
    background-image: url(images/login.svg);
    background-repeat: no-repeat;
    opacity: 1;
    top: 26px;
    left: 25px;
}
.header-login-item a {
    color: #ffffff;
}
.site-navigation-item {
    padding: 23px 20px;
}
.site-navigation-item:hover {
    background-color: #242424;
    padding: 23px 20px;
}
.header-login li {
    padding: 24px 20px 23px 53px;
}
.header-login-item a:hover {
    background-color: #242424;
    padding: 25px 20px 25px 53px;
    margin: -25px -20px -25px -53px;
}
/*************************LOGO*************************/
.main-logo {
    text-align: center;
    margin-top: 60px;
}
.main-logo img {
    width: 375;
    height: 155;
}
/*************************ADVANTAGES*************************/
.advantages {
    margin-top: 64px;
}
.advantages-list {
    display: flex;
    text-align: center;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    padding-right: 20px;
    position: relative;
    list-style: none;
}
.advantages-item h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 40px;
}
.rhombus-1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(45deg);
    bottom: 100px;
    left: 180px;
}
.rhombus-2::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(45deg);
    bottom: 100px;
    right: 176px;
}
.rhombus-3::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(45deg);
    bottom: 100px;
    left: 485px;
}
/*************************NEWS AND PHOTO*************************/
.news-and-photo {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;

    background-image: url(content/background-news.png);
    background-repeat: repeat;
    background-position: center;
    width: 940px;
    min-height: 419px;
}
.news {
    width: 380px;
}
.news h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 3px;
}
.news p {
    margin-bottom: 0px;
}
.news time {
    text-transform: lowercase;
}
.news .all-news {
    margin-top: 54px;
}
.news p a {
    color: #ffffff;
    background-color: #000000;
    padding: 13px 34px;
}
.news p a:hover {
    color: #ffffff;
    background-color: #653d15;
    padding: 13px 34px;
}
.photo h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 16px;
}
.photo {
    width: 300px;
    padding-left: 90px;
}
.photo p {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.photo p button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    padding: 10px 52px;
    border: 0;
    font-size: 14px;
    line-height: 24px;
}
.photo p button:hover {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #653d15;
    padding: 10px 52px;
    border: 0;
    font-size: 14px;
    line-height: 24px;
}
/*************************CONTACT AND RESERVATION*************************/
.contact-reservation {
    display: flex;
    color: #000000;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    background-image: url(content/background-contact.png);
    background-repeat: repeat;
    background-position: center;
    width: 940px;
    min-height: 435px;
    margin-bottom: 80px;
}
.adress-and-tel {
    width: 380px;
}
.adress-and-tel h2 {
    font-size: 30px;
    line-height: 42px;
}
.adress-tel {
    color: #000000;
}
.working-hourse {
    margin-bottom: 29px;
}
.feedback-button {
    margin-left: 13px;
}
.contact-button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    padding: 10px 31px;
    border: 0;
    font-size: 14px;
    line-height: 24px;
}
.contact-button:hover {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #653d15;
    padding: 10px 31px;
    border: 0;
    font-size: 14px;
    line-height: 24px;
}
.reservation {
    width: 300px;
    padding-left: 90px;
}
.reservation h2 {
    font-size: 30px;
    line-height: 42px;
}
.form-record {
    display: flex;
    flex-wrap: wrap;
}
.form-record fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
.form-record legend {
    padding-left: 17px;
    margin-bottom: 7px;
}
.data-input legend, .name-input legend {
    padding-left: 17px;
    margin-bottom: 7px;
}
.time-input legend, .phone-input legend {
    padding-left: 30px;
    margin-bottom: 7px;
}
.data-input, .name-input {
    margin-bottom: 9px;
}
.data-input, .time-input {
    margin-bottom: 10px;
}
.form-record fieldset input {
    border: 2px black solid;
    padding: 8px 0px 8px 15px;
    width: 120px;
}
.time-input input, .phone-input {
    margin-left: 22px;
}
.data-input input:hover,
.time-input input:hover,
.name-input input:hover,
.phone-input input:hover {
    border: 2px solid #653d15;
}
.form-record button {
    margin: 0;
    padding: 0;

    border: 0;
    text-transform: uppercase;
    background-color: #000000;
    padding: 10px 0px;
    width: 100%;
    color: #ffffff;
    margin-top: 20px;
}
.form-record button:hover {
    margin: 0;
    padding: 0;

    border: 0;
    text-transform: uppercase;
    background-color: #653d15;
    padding: 10px 0px;
    color: #ffffff;
    margin-top: 20px;
}
/*************************FOOTER*************************/
footer {
    border: 1px #242424 solid;
    
    background-image: url(content/backgroun-footer.png);
    background-repeat: repeat;
    width: 100%;
    min-height: 193px;
}
.footer-sections {
    display: flex;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 8px;
}
.social-network-item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.social-network-item li {
    margin-bottom: 25px;
}
.social-networks {
    text-align: center;
}
.social-networks p {
    margin-bottom: 36px;
}
.social-vkontakte a i {
    padding: 25px 22px 0px 22px;
    margin-right: 6px;
    background-image: url(images/vk.svg);
    background-position: 50% center;
    background-color: black;
    background-repeat: no-repeat;
}
.social-vkontakte a i:hover {
    background-color: white;
    background-image: url(images/vk-hover.svg);
}
.social-facebook a i {
    padding: 25px 22px 0px 22px;
    margin-right: 6px;
    background-image: url(images/facebook.svg);
    background-position: 50% center;
    background-color: black;
    background-repeat: no-repeat;
}
.social-facebook a i:hover {
    background-color: white;
    background-image: url(images/facebook-hover.svg);
}
.social-instagram a i {
    padding: 25px 22px 0px 22px;
    background-image: url(images/instagram.svg);
    background-position: 50% center;
    background-color: black;
    background-repeat: no-repeat;
}
.social-instagram a i:hover {
    background-color: white;
    background-image: url(images/instagram-hover.svg);
}
.footer-adress {
    margin-right: 70px;
}
.footer-adress a {
    color: #ffffff;
}
.footer-adress p {
    width: 328px;
}
.social-networks {
    margin-right: 275px;
}
.how-to-find-us {
    text-decoration: underline;
}
.how-to-find-us:hover {
    text-decoration: none;
}
.developer p {
    text-align: center;
}
.web-code-button a {
    color: #ffffff;
    background-color: #000000;
    padding: 9px 30px;
}
.web-code-button a:hover {
    color: #000000;
    background-color: #ffffff;
    padding: 9px 30px;
}
/***MODAL-LOGIN***/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
}
.modalDialog:target {
    display: block;
}
.modalDialog > div {
    width: 460px;
    height: 385px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    color: black;
    background: #fff;
    background-image: url(content/background-modal.png);
    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.content-modal {
    width: 300px;
    margin-left: 90px;
    margin-top: 45px;
}
.content-modal h2 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: -5px;
}
.forgot-password {
    float: right;
}
.login-input {
    width: 280px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    margin-bottom: 2px;
    background-image: url(images/login-input.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}
.login-input:hover {
    border: #653d15 2px solid;
}
.password-input {
    width: 280px;
    text-transform: uppercase;
    border: 2px solid #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    margin-bottom: 2px;
    background-image: url(images/password-input.svg);
    background-repeat: no-repeat;
    background-position: 96% 50%;
}
.password-input:hover {
    border: 2px solid #654d15;
}
.forgot-password {
    text-decoration: underline;
}
.forgot-password:hover {
    text-decoration: none;
}
.remember-input:hover {
    color: #653d15;
}
.modalDialog > div input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}
.modalDialog > div input[type="checkbox"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% center;
}
.modalDialog > div input:hover {
    color: #653d15;
}
.come-in {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #000000;
    margin-top: 9px;
}
.come-in:hover {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #653d15;
    color: #ffffff;
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #000000;
    margin-top: 9px;
}
.close::before,
.close::after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 3px;
    background-color: #cfcfcf;
    left: 510px;
    top: 20px;
}
.close::after {
    transform: rotate(45deg);
}
.close::before {
    transform: rotate(-45deg);
}
/***MODAL-MAP***/
.modalDialog-map {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
}
.modalDialog-map:target {
    display: block;
}
.modalDialog-map > div {
    width: 780px;
    height: 574px;
    position: relative;
    padding: 5px 20px 13px 20px;
    color: black;
    background-image: url(content/map.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.close-map::before,
.close-map::after {
    content: " ";
    position: absolute;
    width: 17px;
    height: 3px;
    background-color: #cfcfcf;
    left: 790px;
    top: 20px;
}
.close-map::after {
    transform: rotate(45deg);
}
.close-map::before {
    transform: rotate(-45deg);
}
/*-------------------------PRICE------------------------*/
.indicator {
    border-bottom: 4px solid white;
}
.indicator:hover {
    background-color: transparent;
}
.logo a img {
    position: relative;
    padding: 21px 20px 0px 20px;
}
.container-internal {
    background-image: url(content/background-contact.png);
    background-repeat: repeat;
    background-position: top center;
    min-height: 795px;
    border: 1px solid transparent;
    color: #000000;
}
.header-internal-page {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
}
.header-internal-page h1 {
    margin-top: 51px;
    font-size: 30px;
    line-height: 42px;
}
.way-rhombus {
    position: relative;
}
.rhombus-4::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000000;
    transform: rotate(45deg);
    right: 15px;
    top: 5px;
}
.way-main {
    margin-right: 40px;
    color: #000000;
}
.way-price {
    color: #aba9a7;
}
.means-and-prices {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.means-and-prices .headline b {
    font-size: 48px;
    line-height: 48px;
}
.headline {
    margin-bottom: 57px;
}
.line-black-left {
    padding: 0px 14px 15px 0px;
}
.line-black-right {
    padding: 0px 0px 15px 14px;
}
.means-list {
    list-style: url(images/rhomb.png);
}
.means-list li {
    line-height: 35px;
}
.prices-list {
    border-spacing: 0px;
    border-bottom: 2px solid black;
}
.prices-list tr th {
    text-align: left;
    border: 2px solid black;
}
.prices-list tr .service-item {
    border-bottom: 1px;
    border-right: 1px;
    width: 227px;
}
.service-item {
    padding: 7px 0px 7px 17px;
}
.prices-list tr .prices-item {
    text-align: center;
    border-bottom: 1px;
    width: 227px;
}
.means-prices {
    display: flex;
}
.means {
    width: 260px;
}
.means h2 {
    font-size: 24px;
    line-height: 30px;
}
.prices {
    margin-left: 248px;
}
.prices h2 {
    font-size: 24px;
    line-height: 30px;
}
.about-us {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.about-us h3 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 30px;
}
.description {
    display: flex;
}
.description-1 {
    margin-right: 100px;
}
/*-------------------------SHOP------------------------*/
/***FILTER-SHOP***/
.filter-and-catalog {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.product-filter-form fieldset {
    border: transparent;
}
.product-filter-form {
    margin-right: 37px;
}
.manufacturers-filter {
    width: 170px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
}
.manufacturers-filter legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.manafacturers-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.manafacturers-filter-list li {
    margin-bottom: 13px;
}
.product-filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.product-filter-list span {
    margin-left: 30px;
}
.product-filter-list li {
    margin-bottom: 13px;
}
.product-filter {
    width: 170px;
    margin-left: 0;
    padding-left: 0;
}
.product-filter legend {
    font-size: 24px;
    line-height: 30px;
}
.product-filter-form button {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    border: transparent;
    padding: 12px 28px 12px 34px;
    margin-top: 25px;
}
.product-filter-form button:hover {
    background-color: #653d15;
    color: #ffffff;
    text-transform: uppercase;
    border: transparent;
    padding: 12px 28px 12px 34px;
    margin-top: 25px;
}
.manafacturers-filter-list input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}
.manafacturers-filter-list input[type="checkbox"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: 50% center;
}
.product-filter-list input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}
.product-filter-list input[type="radio"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #000;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    background-image: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position: 50% center;
}
.product-filter-list li label:hover {
    color: #653d15;
}
.manafacturers-filter-list li label:hover {
    color: #653d15;
}

/***CATALOG***/
.filter-and-catalog {
    display: flex;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
}
.catalog-item {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-left: 19px;
    margin-bottom: 20px;
    height: 285px;
}
.catalog-item .product-name {
    color: #000000;
}
.catalog-item p {
    margin-left: 16px;
    text-transform: none;
    line-height: 18px;
}
.catalog-item p span {
    text-transform: uppercase;
}
.value {
    margin-left: 16px;
    margin-bottom: 29px;
    background-color: #e5e5e5;
    padding: 13px 33px 13px 37px;
    width: 10px;
}
.buy {
    padding: 13px 17px 13px 19px;
    background-color: #000000;
    color: #ffffff;
}
.buy:hover {
    padding: 13px 17px 13px 19px;
    background-color: #653d15;
    color: #ffffff;
}

.pages {
    display: flex;
    justify-content: space-between;
    width: 193px;
    margin-left: 239px;
    margin-top: 25px;
    margin-bottom: 45px;
}
.pages-item {
    color: #fff;
    background-color: #000;
    padding: 16px 18px 12px 19px;
}
.pages-item:hover {
    color: #fff;
    background-color: #653d15;
    padding: 16px 18px 12px 19px;
}
.pages-block {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.finding {
    background-color: #ffffff;
    color: #000000;
}
.finding:hover {
    background-color: #ffffff;
    color: #000000;
}
/*-------------------------SHOP-ITEM------------------------*/
.photo-catalog-item {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.catalog-item-internal img {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.product-description {
    margin-bottom: 25px;
}
.main-photo-item {
    margin-bottom: 200px;
}
.alignment-photo {
    margin-left: 17px;
    margin-right: 17px;
}
.indent {
    margin-top: 15px;
    margin-bottom: 40px;
}
.set-composition {
    list-style: url(images/rhomb.png);
    padding-left: 18px;
}
.set-composition li {
    line-height: 28px;
}
.set {
    width: 260px;
    margin-top: 80px;
}
.set h2 {
    font-size: 24px;
    line-height: 30px;
}
.product-description {
    margin-left: 90px;
    width: 390px;
}
.alignment-value {
    margin-left: -16px;
    padding: 0;
}
.vendor-code {
    float: right;
    color: #aeaeae;
}
.description-item {
    margin-bottom: 36px;
}
.product-description {
    padding-top: 25px;
}